<meta name="viewport" content="width-device-width" initial-scale="1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/cf721f2948.js" crossorigin="anonymous"></script>

        <section class="sub-header">
          <nav>
              <img src=""></nav>
              
          </section>
    

  <div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
          <h1 class="text center">ABOUT</h1>
              <img src="" style="width: 150px">
                <br>
                <p align="justify">This system is built to implement, maintain, optimize and manage database structures for the store. 
                  The purpose is to track the registration from customer who want to be our membership, and get a warranty for the damage product .
                </p>
            <br>
            <h2 id="tagging" style="text-align:center">Administrators Team</h2>
            <br>
            <br>
            <div class="row">
              <div class="column">
                <div class="card">
                  <img src="assets/RONALDO.jpg" style="width:50%">
                  <div class="container">
                    <br>
                    <h2>RONALDO</h2>
                    <p class="title">Head of Administrative Management</p>
                    <p>Ronaldo@gmail.com</p>
                    
                  </div>
                </div>
              </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/TONY-KROSS.jpg" style="width:50%">
                    <div class="container">
                      <br>
                      <h2>TONY KROSS</h2>
                      <p class="title">Staff</p>
                      <p>Tonykross@gmail.com</p>
                      
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/BENZEMA.webp"  style="width:50%">
                    <div class="container">
                      <br>
                      <h2>BENZEMA</h2>
                      <p class="title">Sales Manager</p>
                      <p>Benzema@gmail.com</p>
                    </div>
                  </div>
                </div>

                <div class="column">
                  <div class="card">
                    <img src="assets/GRANACHO.jpg"  style="width:50%">
                    <div class="container">
                      <br>
                      <h2>GRANACHO</h2>
                      <p class="title">Cashier</p>
                      <p>Granacho@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
              <br><br>

              <section class="footer">
                <h4>About Us</h4>
                <p>HQ OFFICE (KUANTAN) <BR> LEVEL 29,ECM MALL, 25150,KUANTAN, PAHANG <BR> EMAIL: adidasHQ@gmail.com<br>
                   Telephone: +603 8947 8888
                <br>Business Hour: 0900 - 1700 (Monday to Friday)</p>
            
                <div class="icons">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                </div>
    
                
            </section>
              